<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="jumbotron">
    <h1 style="font-family:Dosis;">TecnoRenting ®</h1>
    <h5>Este aplicativo tiene como objetivo gestionar y administrar el alquiler de equipos tecnológicos para empresas.</h5>
  </div>
</div>
