<html>
<body>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
          <div class="col-lg-4"><p class="text-center"><h1 style="font-family:Dosis;"><dt>ProjectNet V1.0.</dt></h1></div>
        </div>

      </div>
    </div>
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" style="font-family:Arial;" for="user">Usuario:</label>
      <div class="col-sm-4">
        <input type="user" class="form-control" id="usuario" placeholder="Digite su usuario">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" style="font-family:Arial;" for="pwd">Contraseña:</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="contrasena" placeholder="Digite su contraseña">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox">Recuerdame</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn-md btn-success" onClick="cargar()">Iniciar Sesión</button>
      </div>
    </div>
  </form>
</body>
            <script language="javaScript">
             function cargar()
             {
               alert('Acabas de iniciar sesión...');
             }
            </script>
<br>
<div class="well col-xs-3 col-lg-offset-2">
  <p class="text-center">ProjectNet ®</p>
  <p class="text-center"><a href="http://www.ucn.edu.co">Fundación Universitaria Católica del Norte</a></p>
  <p class="text-center">Montería, Córdoba, Colombia.</p>
  <p class="text-center">© Todos los derechos reservados.</p>
  <p class="text-center">2018</p>
</div>
</html>
