<br>
<br>
<br>
<br>
<br>
<br>
<form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" style="font-family:Georgia;" for="user">Código del Proyecto:</label>
      <div class="col-sm-4">
        <input type="user" class="form-control" id="usuario" placeholder="Digite el código del proyecto">
        <br>
        <p>
          <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span> Consultar
          </button>
        </p>
      </div>
    </div>
  </form>

<h1>Lista de proyectos inscritos</h1>
  <table>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Fecha de Creación</th>
      <th>Fecha de Última Actualización</th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.nombre %></td>
        <td><%= project.created_at %></td>
        <td><%= project.updated_at %></td>
      </tr>
    <% end %>
  </table>
