<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Crear Proyecto</h1>

      <% if @p.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @p.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <%=form_for @p do |f| %>
          <div class="form-group">
            <%= f.text_field :nombre, class: "form-control input-lg", placeholder: "Nombre del proyecto"%>
          </div>
            <%= f.submit "Crear Proyecto", class: "btn btn-success btn-lg btn-block" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
